In [2]:
'''1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

8. Why is eggs a valid variable name while 100 is invalid?

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;'''

'1. In the below elements which of them are values or an expression? eg:- values can be\ninteger or string and expressions will be mathematical operators.\n*\n&#39;hello&#39;\n-87.8\n-\n/\n+\n6\n\n2. What is the difference between string and variable?\n\n3. Describe three different data types.\n\n4. What is an expression made up of? What do all expressions do?\n5. This assignment statements, like spam = 10. What is the difference between an\nexpression and a statement?\n6. After running the following code, what does the variable bacon contain?\nbacon = 22\nbacon + 1\n\n7. What should the values of the following two terms be?\n&#39;spam&#39; + &#39;spamspam&#39;\n&#39;spam&#39; * 3\n\n8. Why is eggs a valid variable name while 100 is invalid?\n\n9. What three functions can be used to get the integer, floating-point number, or string\nversion of a value?\n10. Why does this expression cause an error? How can you fix it?\n&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;'

In [6]:
'''1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*

&

#

39

'hello'

-87.8
-
/
+
6'''

"1. In the below elements which of them are values or an expression? eg:- values can be\ninteger or string and expressions will be mathematical operators.\n\n*\n\n&\n\n#\n\n39\n\n'hello'\n\n-87.8\n-\n/\n+\n6"

In [8]:
type('hello')

str

In [10]:
type(39)

int

In [11]:
type(-87.8)

float

In [12]:
## 39, 'hello' , -87.8, 6 these all value.

In [13]:
# What is the difference between string and variable?

# Variable :- We use variable to store some data/value into it.  

# String :- we can create string by combination of words in enclosed "". for example "My name is Anubhav Rajput"

# We can " " & ' '

In [14]:
# Describe three different data types.

# 1. Str Data type 
# 2. Float
# 3. int
# 4. Boolean

a='anubhav'
print(type(a))

b= 100
print(type(b))

c=10.9

print(type(c))

d=True

print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [15]:
# What is an expression made up of? What do all expressions do?

# expression is combination of data type and operator 

a=10
b=20

print(a+b)

30

In [17]:
#This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Assignment mean we can assign the value to a variable like a=5, expression means we can get some out from that statement. .

# for example:

a=10-20+50

print(a)

40

In [21]:
# After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

# bacon=bacon+1   we use both method.

print(bacon)

23

In [22]:
# What should the values of the following two terms be?

'spam'+'spamspam'

'spamspamspam'

In [23]:
'spam'*3

'spamspamspam'

In [24]:
# Why is eggs a valid variable name while 100 is invalid?

# We can use varialbe name start from word not a number .

In [27]:
# What three functions can be used to get the integer, floating-point number, or string version of a value?

int()
str()
float()

0.0

In [31]:
# Why does this expression cause an error? How can you fix it?
#'i have eaten' +99+'burritos'

"i have eaten '+99+' burritor"

"i have eaten '+99+' burritor"